$dark: #252422 !important;
$darker: #403D39 !important;
$dark-medium: #333 !important;
$dark-low: #666 !important;
$light-low: #999 !important;
$light-medium: #ddd !important;
$ligther: #CCC5B9 !important;
$light: #FFFCF2 !important;

$featured: #EB5E28 !important;
$featured-dark: #252422 !important;

:root {
  --dark: #{$dark};
  --darker: #{$darker};
  --dark-medium: #{$dark-medium};
  --dark-low: #{$dark-low};
  --light-low: #{$light-low};
  --light-medium: #{$light-medium};
  --ligther: #{$ligther};
  --light: #{$light};
  --featured: #{$featured};
  --featured-dark: #{$featured-dark};
}
